body{
    color:rgb(24, 24, 70);
    background-image: url(rr.jpg);
	 background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: rgb(7, 7, 66);
   margin-bottom: 0px;
   font-size: 30px;
   padding: 0px 100px;
   max-width: 500px;
   width:100px 1000px;
   margin: 250px 370px 50px ;

  

}

.aa{
    max-width:150px 150px;
    margin: 10px auto;
    box-sizing: border-box;
    width: 20rem;
    border-top: solid rgb(153, 126, 90) 10px;
    padding: 0px;
   
    white-space: normal;
    }
.col-sm-5 {
    color: turquoise;
}    